---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { cards } from "../data/cards";
import { Picture } from "astro-imagetools/components";
import smartphone from "../images/icons/smartphone.svg";
import photographer from "../images/icons/photographer.svg";
import picture from "../images/icons/picture.svg";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import Heading from "../components/Heading.astro";

const fotoShootingContent = [
  {
    icon: smartphone,
    headline: "Vor dem Shooting",
    alt: "Smartphone Icon",
    h: "h-12",
    text: "Wir besprechen in Ruhe alles, was wichtig ist: Dein Outfit, die Tageszeit, die Umgebung und Locations. Ich helfe Dir dabei, Deiner Kreativität freien Lauf zu lassen. Für ein Pferdeshooting kannst Du mir gerne Fotos und Videos von den Koppeln bzw. Deiner Wunsch-Location schicken. ",
  },
  {
    icon: photographer,
    headline: "Am Shootingtag",
    alt: "Fotograf Icon",
    text: "Wir besichtigen zunächst gemeinsam die ausgewählte Location und lernen die Umgebung kennen. So kann ich in Ruhe alle Protagonisten – Familie, Hund oder Pferd – begrüßen und die erste Aufregung verfällt. Eine helfende Hand ist vor allem bei Pferden wichtig, um den neugierigen Blick in die gewünschte Richtung zu lenken. ",
  },
  {
    icon: picture,
    headline: "Nach dem Shooting",
    alt: "Bild Icon",
    text: "Du erhältst von mir einen Link zu Deiner persönlichen Online-Galerie. Du kannst Dir ganz entspannt Deine Lieblingsbilder aussuchen, die anschließend von mir liebevoll bearbeitet werden. Deine Momente für die Ewigkeit. ",
  },
];
---

<Layout title="Home">
  <Hero path="src/images/backgrounds" heading1="Momente für die Ewigkeit" heading2="Marina Schmid Fotografie" />
  <main class="container mx-auto">
    <section>
      <Heading heading="Über mich" />

      <div class="flex flex-col sm:flex-row sm:space-x-4 items-center justify-center m-auto max-w-4xl md:space-x-8">
        <div class="mb-6 border border-white-900 p-1 max-w-md sm:w-1/2">
          <Picture
            src="/src/images/marina-schmid.jpeg"
            alt="Marina Schmid Portrait"
            breakpoints={{ count: 3, minWidth: 340, maxWidth: 1350 }}
            sizes="(min-width: 640px) 50vw, 100vw"
            format={["jpg", "webp"]}
          />
        </div>
        <div class="sm:flex-1 sm:max-w-[50%]">
          <p class="font-heading text-4xl mb-2 font-text">Hi,</p>
          <p class="lg:text-lg">
            ich bin Marina, eine professionelle Paar-, Familien-, Pferde- und Hundefotografin. Als naturliebende Person
            fotografiere ich ausschließlich draußen – hier kann ich meine Kreativität voll und ganz ausleben. Meine
            Leidenschaft ist es, Momente mit Menschen und Tieren festzuhalten. Das habe ich zu meiner Berufung gemacht,
            das möchte ich in meinen Bildern zum Ausdruck bringen. Ich liebe es, für meine Kunden bleibende Erinnerungen
            zu schaffen. Die schönsten Momente festzuhalten. Momente für die Ewigkeit.
          </p>
          <div class="text-right mt-4">
            <Picture
              src="/src/images/marina_signature.png"
              alt="Marina Schmid Logo"
              sizes="240px"
              format={["jpg", "webp"]}
            />
          </div>
        </div>
      </div>
    </section>
    <section>
      <Heading heading="Dein Fotoshooting" />
      <div class="mt-8 md:grid md:grid-flow-col md:gap-8">
        {
          fotoShootingContent.map((content, i, row) => (
            <div class="grid grid-flow-col md:flex md:flex-col gap-4 items-start">
              <div class="grid grid-rows-[auto_1fr] md:grid-cols-[auto_1fr] h-full md:h-auto md:w-full">
                <div class="rounded-full bg-colored-300 w-16 h-16 flex">
                  <img
                    src={content.icon}
                    alt={content.alt}
                    height="64"
                    width="64"
                    class={`w-auto m-auto ${typeof content.h === "undefined" || content.h}`}
                  />
                </div>
                <div
                  class={`${
                    i + 1 !== row.length ? "md:-mr-8" : ""
                  } grid grid-cols-2 md:grid-rows-2 md:grid-cols-1 divide-x divide-white-400 md:divide-x-0 md:divide-y `}
                >
                  <div />
                  <div />
                </div>
              </div>
              <div class={`${i + 1 !== row.length ? "mb-8 md:mb-0" : ""}`}>
                <h2 class="m-0 mb-2 text-xl">{content.headline}</h2>
                <p>{content.text}</p>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section>
      <Heading heading="Mehr erfahren" />
      <div class="mt-8 flex flex-col md:flex-row md:space-x-8">
        {
          cards.map((card) => (
            <div class="text-colored-900 bg-colored-50 mt-8 md:mt-0 p-4 flex flex-col md:w-1/3">
              <h2 class="text-xl">{card.headline}</h2>
              <p class="mb-4">{card.text}</p>
              <div class="mt-auto">
                <ButtonPrimary text={card.ctaText} link={card.link} />
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
