---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { cards } from "../data/cards";
import { Picture } from "astro-imagetools/components";
import smartphone from "../images/icons/smartphone.svg";
import photographer from "../images/icons/photographer.svg";
import picture from "../images/icons/picture.svg";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import Heading from "../components/Heading.astro";

const fotoShootingContent = [
  {
    icon: smartphone,
    headline: "Vor dem Shooting",
    alt: "Smartphone Icon",
    h: "h-12",
    text: "Wir besprechen alles, was wichtig ist: dein Outfit, die Tageszeit, die Umgebung und Locations. Bei einem Pferdeshooting darfst du mir gerne Fotos und Videos von den Koppeln und Wunschlocations schicken.",
  },
  {
    icon: photographer,
    headline: "Am Shootingtag",
    alt: "Fotograf Icon",
    text: "Wir besichtigen zunächst gemeinsam die Location und lernen uns kennen. So kann ich auch in Ruhe dein Pferd oder Hund begrüßen und die erste Aufregung verfällt. Eine helfende Hand ist vor allem bei Pferden im Freien wichtig, den neugirierigen Blick in die gewünschte Richtung zu lenken.",
  },
  {
    icon: picture,
    headline: "Nach dem Shooting",
    alt: "Bild Icon",
    text: "Du erhälst einen Link zu deiner persönlichen Onlinegalerie. Hier kannst du dir in Ruhe deine Lieblingsbilder aussuchen, die anschließend von mir liebevoll und aufwendig bearbeitet werden.",
  },
];
---

<Layout title="Home">
  <Hero path="src/images/backgrounds" heading1="Momente für die Ewigkeit" heading2="Marina Schmid Fotografie" />
  <main class="container mx-auto">
    <section>
      <Heading heading="Über mich" />

      <div class="flex flex-col sm:flex-row sm:space-x-4 items-center justify-center m-auto max-w-4xl md:space-x-8">
        <div class="mb-6 border border-white-900 p-1 max-w-md sm:w-1/2">
          <Picture
            src="/src/images/marina-schmid.jpeg"
            alt="Marina Schmid Portrait"
            breakpoints={{ count: 5, minWidth: 340, maxWidth: 1350 }}
            sizes="(min-width: 640px) 50vw, 100vw"
          />
        </div>
        <div class="sm:flex-1 sm:max-w-[50%]">
          <p class="text-center text-2xl mb-2 font-text">Hi,</p>
          <p class="lg:text-lg">
            ich heiße Marina und bin eine professionelle Paar- und Familien- sowie Pferde- und Hundefotografin. Als
            kreative Person, die die Natur liebt, fotografiere ich ausschließlich in der Natur. Fotografie mit Menschen
            und Tiere sind meine wahre Leidenschaft. Schließlich habe ich diese Leidenschaft zu meinem Beruf gemacht –
            dies möchte ich mit meinen Bildern zum Ausdruck bringen. Ich liebe ich es, bleibende Erinnerungen durch
            Fotografie zu schaffen, die schönsten Momente festzuhalten. Momente für die Ewigkeit.
          </p>
          <div class="text-right mt-4">
            <Picture src="/src/images/marina_signature.png" alt="Marina Schmid Logo" sizes="240px" />
          </div>
        </div>
      </div>
    </section>
    <section>
      <Heading heading="Das Fotoshooting" />
      <div class="mt-8 md:grid md:grid-flow-col md:gap-8">
        {
          fotoShootingContent.map((content, i, row) => (
            <div class="grid grid-flow-col md:flex md:flex-col gap-4 items-start">
              <div class="grid grid-rows-[auto_1fr] md:grid-cols-[auto_1fr] h-full md:h-auto md:w-full">
                <div class="rounded-full bg-colored-300 w-16 h-16 flex">
                  <img
                    src={content.icon}
                    alt={content.alt}
                    height="64"
                    width="64"
                    class={`w-auto m-auto ${content.h ? content.h : "h-16"}`}
                  />
                </div>
                <div
                  class={`${
                    i + 1 !== row.length ? "md:-mr-8" : ""
                  } grid grid-cols-2 md:grid-rows-2 md:grid-cols-1 divide-x divide-white-400 md:divide-x-0 md:divide-y `}
                >
                  <div />
                  <div />
                </div>
              </div>
              <div class={`${i + 1 !== row.length ? "mb-8 md:mb-0" : ""}`}>
                <h2 class="m-0 mb-2 text-xl">{content.headline}</h2>
                <p>{content.text}</p>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section>
      <Heading heading="Mehr erfahren" />
      <div class="mt-8 flex flex-col md:flex-row md:space-x-8">
        {
          cards.map((card) => (
            <div class="text-colored-900 bg-colored-50 mt-8 md:mt-0 p-4 flex flex-col md:w-1/3">
              <h2 class="text-xl">{card.headline}</h2>
              <p class="mb-4">{card.text}</p>
              <div class="mt-auto">
                <ButtonPrimary text={card.ctaText} link={card.link} />
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
