---
import Layout from "../layouts/Layout.astro";
import smartphone from "../images/icons/smartphone.svg";
import photographer from "../images/icons/photographer.svg";
import picture from "../images/icons/picture.svg";
import ButtonPrimary from "../components/ButtonPrimary.astro";

const fotoShootingContent = [
  {
    icon: smartphone,
    headline: "Vor dem Shooting",
    text: "Wir besprechen alles, was wichtig ist: dein Outfit, die Tageszeit, die Umgebung und Locations. Bei einem Pferdeshooting darfst du mir gerne Fotos und Videos von den Koppeln und Wunschlocations schicken.",
  },
  {
    icon: photographer,
    headline: "Am Shootingtag",
    text: "Wir besichtigen zunächst gemeinsam die Location und lernen uns kennen. So kann ich auch in Ruhe dein Pferd oder Hund begrüßen und die erste Aufregung verfällt. Eine helfende Hand ist vor allem bei Pferden im Freien wichtig, den neugirierigen Blick in die gewünschte Richtung zu lenken.",
  },
  {
    icon: picture,
    headline: "Nach dem Shooting",
    text: "Du erhälst einen Link zu deiner persönlichen Onlinegalerie. Hier kannst du dir in Ruhe deine Lieblingsbilder aussuchen, die anschließend von mir liebevoll und aufwendig bearbeitet werden.",
  },
];
const preise = [
  {
    headline: "Light-Shooting",
    subHeadline: "3 Bilder",
    price: "185",
    features: [
      "3 liebevoll und aufwendig bearbeitete Bilder",
      "jedes weitere Bild +25.00 EUR",
      "Anfahrt bis 25km von Peiting inklusive",
      "ca. 1,5 - 2 Stunden Shootingzeit",
    ],
  },
  {
    dark: true,
    headline: "Basic-Shooting",
    subHeadline: "8 Bilder",
    price: "285",
    features: [
      "8 liebevoll und aufwendig bearbeitete Bilder",
      "jedes weitere Bild +25.00 EUR",
      "Anfahrt bis 50km von Peiting inklusive",
      "ca. 2 - 3 Stunden Shootingzeit",
    ],
  },
  {
    headline: "Double-Shooting",
    subHeadline: "20 Bilder",
    price: "499",
    features: [
      "Teile das Shooting mit deiner Freundin oder deinem Freund (249,50 EUR pro Person für 10 Bilder, gleiche Location)",
      "20 liebevoll und aufwendig bearbeitete Bilder insgesamt",
      "jedes weitere Bild +25.00 EUR",
      "Anfahrt bis 75km von Peiting inklusive",
      "ca. 3 Stunden Shootingzeit",
    ],
  },
];
---

<Layout title="Informationen | Marina Schmid Tier- und Pferdefotografie">
  <section id="shooting-infos" class="mt-16">
    <h1 class="text-center">Das Fotoshooting</h1>

    <div class="mt-8">
      {
        fotoShootingContent.map((content, i, row) => (
          <div class="grid grid-flow-col gap-4 items-start">
            <div class="grid grid-rows-[auto_1fr] h-full">
              <div class="rounded-full bg-colored-300 w-16 h-16 flex">
                <img src={content.icon} alt="Smartphone Icon" class="m-auto" />
              </div>
              <div class="grid grid-cols-2 divide-x divide-white-400">
                <div />
                <div />
              </div>
            </div>
            <div class={i + 1 !== row.length ? "mb-8" : ""}>
              <h2 class="m-0 text-xl">{content.headline}</h2>
              <p>{content.text}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <section id="preise" class="mt-8">
    <h1 class="text-center">Preise</h1>
    {
      preise.map((content) => (
        <div
          class={`${
            !content.dark ? "bg-colored-50" : "bg-colored-100"
          } text-colored-900 text-center rounded drop-shadow-xl overflow-hidden mb-8`}
        >
          <div class={`${!content.dark ? "text-colored-900 bg-colored-100" : "text-colored-50 bg-colored-900"} p-4`}>
            <h2 class="text-xl m-0">{content.headline}</h2>
            <small class="block">{content.subHeadline}</small>
          </div>
          <div class="text-4xl m-4">
            {content.price}
            <sup class="-ml-2">00</sup> EUR
          </div>
          <ul class="grid grid-cols-1 justify-center divide-y divide-colored-700/30">
            {content.features.map((feature) => (
              <li class="p-4">{feature}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </section>
  <ButtonPrimary text="Kontaktiere mich unverbindlich" link="/kontakt" />
</Layout>
