---
import Layout from "../layouts/Layout.astro";
import smartphone from "../images/icons/smartphone.svg";
import photographer from "../images/icons/photographer.svg";
import picture from "../images/icons/picture.svg";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import { preise } from "../data/preise";
import Tabs from "../components/Tabs.astro";

const fotoShootingContent = [
  {
    icon: smartphone,
    headline: "Vor dem Shooting",
    text: "Wir besprechen alles, was wichtig ist: dein Outfit, die Tageszeit, die Umgebung und Locations. Bei einem Pferdeshooting darfst du mir gerne Fotos und Videos von den Koppeln und Wunschlocations schicken.",
  },
  {
    icon: photographer,
    headline: "Am Shootingtag",
    text: "Wir besichtigen zunächst gemeinsam die Location und lernen uns kennen. So kann ich auch in Ruhe dein Pferd oder Hund begrüßen und die erste Aufregung verfällt. Eine helfende Hand ist vor allem bei Pferden im Freien wichtig, den neugirierigen Blick in die gewünschte Richtung zu lenken.",
  },
  {
    icon: picture,
    headline: "Nach dem Shooting",
    text: "Du erhälst einen Link zu deiner persönlichen Onlinegalerie. Hier kannst du dir in Ruhe deine Lieblingsbilder aussuchen, die anschließend von mir liebevoll und aufwendig bearbeitet werden.",
  },
];
---

<Layout title="Informationen">
  <main id="shooting-infos" class="mt-24 container mx-auto">
    <h1 class="text-center">Das Fotoshooting</h1>

    <div class="mt-8 md:grid md:grid-flow-col md:gap-8">
      {
        fotoShootingContent.map((content, i, row) => (
          <div class="grid grid-flow-col md:flex md:flex-col gap-4 items-start">
            <div class="grid grid-rows-[auto_1fr] md:grid-cols-[auto_1fr] h-full md:h-auto md:w-full">
              <div class="rounded-full bg-colored-300 w-16 h-16 flex">
                <img src={content.icon} alt="Smartphone Icon" class="m-auto" />
              </div>
              <div
                class={`${
                  i + 1 !== row.length ? "md:-mr-8" : ""
                } grid grid-cols-2 md:grid-rows-2 md:grid-cols-1 divide-x divide-white-400 md:divide-x-0 md:divide-y `}
              >
                <div />
                <div />
              </div>
            </div>
            <div class={`${i + 1 !== row.length ? "mb-8 md:mb-0" : ""}`}>
              <h2 class="m-0 text-xl">{content.headline}</h2>
              <p>{content.text}</p>
            </div>
          </div>
        ))
      }
    </div>
  </main>
  <section id="preise" class="mt-8 container mx-auto">
    <h1 class="text-center">Preise</h1>
    <Tabs
      headings={[
        { art: "Pferde", icon: "emojione:horse-face" },
        { art: "Hunde", icon: "emojione:dog-face" },
      ]}
    >
      {
        preise.map((animal) => (
          <li class="flex flex-col md:flex-row md:gap-4">
            {animal.map((content) => (
              <div
                class={`${!content.dark ? "bg-colored-50" : "bg-colored-100"} ${
                  content.animal
                } tab-content text-colored-900 text-center rounded overflow-hidden mb-8 md:w-1/3`}
              >
                <div
                  class={`${!content.dark ? "text-colored-900 bg-colored-200" : "text-colored-50 bg-colored-900"} p-4`}
                >
                  <h2 class="text-xl m-0">{content.headline} </h2>
                  <small class="block">{content.subHeadline}</small>
                </div>
                <div class="text-4xl m-4">
                  {content.price}
                  <sup class="-ml-2">00</sup> EUR
                </div>
                <ul class="grid grid-cols-1 justify-center divide-y divide-colored-700/30 px-4">
                  {content.features.map((feature) => (
                    <li class="p-4">{feature}</li>
                  ))}
                </ul>
              </div>
            ))}
          </li>
        ))
      }
    </Tabs>
    <div class="max-w-xl m-auto mt-8">
      <ButtonPrimary text="Kontaktiere mich unverbindlich" link="/kontakt" />
    </div>
  </section>
</Layout>
<script></script>
