---
import Layout from "../layouts/Layout.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import Heading from "../components/Heading.astro";
import Tabs from "../components/Tabs.astro";

import cloudinary from "cloudinary";
const cloud_name = "dscuv3gae";
cloudinary.v2.config({
  cloud_name,
  api_key: "861211695759826",
  api_secret: "OOeD4tJjW3CIuhrjYzH04GBUrFY",
});

const portfolio = ["family-and-couples","horses","dogs"];

var images = {};
var promises = {};
portfolio.forEach(item => {
    promises[item] = new Promise((resolve, reject) => {
      cloudinary.v2.api
        .resources({ type: "upload", prefix: `website-portfolio/${item}`, max_results: 50 })
        .then((result) => {
          images[item] = result.resources;
          resolve(`Received ${item}`)
        })
        .catch((error) => {
          console.error("Error:", error);
        });
  });
})
await Promise.all([promises["family-and-couples"], promises.horses, promises.dogs]);
const breakpoints = [256,512,768,1024,1280]
// TODO: Lazyloading!
---

<Layout title="Portfolio">
  <main class="container mx-auto mt-24">
    <Heading heading="Portfolio" />
    <Tabs
      headings={[
        { art: "Familien und Paare", icon: "noto:family-man-woman-girl" },
        { art: "Pferde", icon: "noto:horse" },
        { art: "Hunde", icon: "noto:dog" },
      ]}
    >
    {
      portfolio.map(key => (
          <div class="columns-1 xl:columns-2 gap-8">
            {
              images[key].map((image) => (
                <div class="mb-8 border border-white-900 p-1">
                  <img
                    sizes="(min-width:768px) 50vw, 100vw"
                    srcset={`
                      ${breakpoints.map(breakpoint => `https://res.cloudinary.com/${cloud_name}/image/upload/w_${breakpoint},dpr_auto/${image.public_id}.avif ${breakpoint}w`)}
                    `}
                    src={`https://res.cloudinary.com/${cloud_name}/image/upload/w_1280,dpr_auto/${image.public_id}.avif`}
                    alt="hallo"
                  />
                </div>
              ))
            }

          </div>
      ))
    }

    </Tabs>
    <div class="mt-16">
      <ButtonPrimary text="Erfahre die Story hinter den Bildern" link="/stories" />
    </div>
  </main>
</Layout>
