---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const stories = await Astro.glob("../stories/*.md");
import Heading from "../components/Heading.astro";
stories.sort((a, b) => (new Date(b.frontmatter.startDate) as any) - (new Date(a.frontmatter.startDate) as any));
---

<Layout title="Stories">
  <main class="container mx-auto mt-24">
    <Heading heading="Stories" />
    <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-8">
      {
        stories.map((story) => (
          <Card
            link={`/stories/${story.frontmatter.title.toLowerCase().replaceAll(" ", "-")}`}
            imagePath="/src/stories/images"
            image={story.frontmatter.titleImage}
          >
            <div>
              <div class="font-heading text-sm flex justify-between">
                <div class="mr-1">{`${story.frontmatter.location}`}</div>
                <div class="ml-1">{`${new Date(story.frontmatter.startDate).toLocaleDateString("de-DE")} ${
                  story.frontmatter.endDate
                    ? `- ${new Date(story.frontmatter.endDate).toLocaleDateString("de-DE")}`
                    : ""
                }`}</div>
              </div>
              <div class="flex flex-wrap gap-2 my-2">
                {story.frontmatter.tags.map((tag) => (
                  <span class="text-xs px-4 py-2 bg-colored-800 text-white-50 rounded-full">{tag}</span>
                ))}
              </div>
            </div>
            <div>
              <h2 class="text-xl">{story.frontmatter.title}</h2>
              <p class="mb-4">{story.frontmatter.excerpt}</p>

              <p class="text-right">weiterlesen</p>
            </div>
          </Card>
        ))
      }
    </div>
  </main>
</Layout>
