---
import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
import Hero from "../../components/Hero.astro";
import ButtonPrimary from "../../components/ButtonPrimary.astro";
import fs from "fs";

export async function getStaticPaths() {
  const stories = await Astro.glob("../../stories/*.md");
  return stories.map((story) => ({
    params: {
      slug: story.frontmatter.title.toLowerCase().replaceAll(" ", "-"),
    },
    props: {
      story,
    },
  }));
}

const { Content, frontmatter, file } = Astro.props.story;
const subFolder = file.split("/").at(-1).split(".").at(0);

const imagePath = "src/stories/images/" + subFolder;
const datePlace = `${frontmatter.location} ${frontmatter.endDate ? "vom" : "am"} ${new Date(
  frontmatter.startDate
).toLocaleDateString("de-DE")} ${
  frontmatter.endDate ? `bis ${new Date(frontmatter.endDate).toLocaleDateString("de-DE")}` : ""
}`;
const imageFiles = fs.readdirSync(imagePath).filter((file) => {
  return /.png|.jpg|.jpeg/.test(file);
});
---

<Layout title={frontmatter.title}>
  <Hero
    path={imagePath + "/title"}
    imageFiles={frontmatter.titleImage}
    heading1={frontmatter.title}
    heading2={datePlace}
  />
  <main class="container mx-auto">
    <article>
      <div class="p-8 md:mt-8 -mx-4 md:mx-0 bg-colored-50 text-colored-900">
        <div class="flex flex-wrap gap-4 mb-8">
          {
            frontmatter.tags.map((tag) => (
              <span class="text-xs px-4 py-2 bg-colored-800 text-white-50 rounded-full">{tag}</span>
            ))
          }
        </div>
        <div class="md:columns-2 xl:columns-3 gap-8">
          <Content />
        </div>
      </div>
      <div class="mt-8 columns-1 xl:columns-2 gap-8">
        {
          imageFiles.map((image) => (
            <div class="mb-8 border border-white-900 p-1">
              <Picture
                src={`/${imagePath}/${image}`}
                alt={`${image
                  .replace(/\d{4}-/, "")
                  .replace(/\.\w{3}/, "")
                  .replaceAll("_", " ")
                  .replaceAll("-", " ")}`}
                breakpoints={{ count: 8, minWidth: 320, maxWidth: 3840 }}
                sizes="100vw"
              />
            </div>
          ))
        }
      </div>
    </article>
    <div class="flex flex-col items-center mt-16">
      <a rel="prefetch" class="py-4 mb-2" href="/stories">zurück zur Übersicht</a>
      <ButtonPrimary text="Jetzt Dein Fotoshooting anfragen" link="/kontakt" />
    </div>
  </main>
</Layout>
